body.page-template-template-home {
  @media (min-width: theme("screens.md")) {
    overflow: hidden;
  }
  #main {
    display: flex;
    align-items: stretch;

    #home {
      flex: 1;
    }
  }

}

.about-us-image {
  @media (max-width: calc(theme("screens.xl") - 1px)) {
    background-size: cover !important;
  }
}
