.btn-primary {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  color: theme("colors.charcoal");
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background: theme("colors.chalk");
  cursor: pointer;
  @apply transition duration-300 ease-in-out;

  &:hover {
    background: theme("colors.charcoal");
    color: theme("colors.chalk");
    transition: 0.3s;
    position: relative;
  }
}

a.underline,
.underline a {
  text-decoration: underline;
}

.has-serif-font-family {
  a {
    font-family: theme("fontFamily.serif");
    text-decoration: underline;
  }
}

.hide-mobile {
  @media screen and (max-width: calc(theme("screens.lg") - 1px)) {
    display: none !important;
  }
}

.hide-desktop {
  @media screen and (min-width: theme("screens.lg")) {
    display: none !important;
  }
}

#app {
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
  overflow-x: hidden;
}

#main::-webkit-scrollbar {
  width: 5px;
}

@media (min-width: theme("screens.md")) {
  #app {
    height: 100dvh;
  }

  #main {
    overflow-y: auto;
  }

  .admin-bar #app {
    height: calc(100dvh - 32px);
  }
}

@media (max-width: 782px) {
  .admin-bar #app {
    min-height: calc(100dvh - 46px);
  }
}

@media (max-width: calc(theme("screens.md") - 1px)) {
  #app {
    min-height: 100dvh;
  }

  .admin-bar #app {
    min-height: calc(100dvh - 46px);
  }
}


$colors: (
  "black":          #000,
  "blue":           #2A7DE1,
  "orange":         #FF6B00,
  "pink":           #F97FB5,
  "silver":         #A9A4A0,
  "white":          #FFF,
  "yellow":         #FFB71B,
);
